body {
  background-color: #68bbdb;
}

.tree {
  width: 300px;
  height: 600px;
  margin: auto;
  position: relative;
  /* the bottom of the tree */
  border-bottom: 50px solid transparent;
  background: linear-gradient(maroon 0 0) bottom/60px 50px no-repeat border-box;
}

.tree::after {
  content: '';
  position: absolute;
  top: 60px;
  left: calc(50% - 75px);
  width: 150px;
  height: 140px;
  background: yellow;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.tree::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(farthest-side, red 99%, transparent) 50% 30%,
    radial-gradient(farthest-side, blue 99%, transparent) 60% 70%,
    radial-gradient(farthest-side, orange 99%, transparent) 40% 50%,
    radial-gradient(farthest-side, purple 99%, transparent) 30% 90%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.tree > div::before,
.tree > div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  bottom: 0;
  --g: linear-gradient(to bottom right, transparent 49.5%, green 50%);
  background: var(--g) 90px calc(0 * 100% / 3), var(--g) 60px calc(1 * 100% / 3),
    var(--g) 30px calc(2 * 100% / 3), var(--g) 0 calc(3 * 100% / 3);
  background-size: 100% calc(100% / 4 + 100px);
  background-repeat: no-repeat;
  z-index: -1;
}
.tree > div::after {
  transform-origin: right;
  transform: scaleX(-1);
}

i {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: yellow;
  animation: ex 1s infinite;
  position: absolute;
}

@keyframes ex {
  50% {
    box-shadow: 1px 1px 10px #ccc, -2px 1px 10px #ccc, 0 -1px 10px #ccc;
  }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

.snowflakes {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  flex: 1;
  position: relative;
  top: -10%;
  z-index: 1;

  animation: snowflakes-fall 10s linear, snowflakes-shake 3s ease-in-out;
  animation-delay: var(--d);
  animation-iteration-count: infinite;
}

@keyframes snowflakes-fall {
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  50% {
    transform: translateX(80px);
  }
}
